<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Comfortaa|Sanchez" rel="stylesheet">
  </head>
  <body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 comfortaa" align="center">ARMA TU COTEJO</h1>
      <p class="lead Lobster" align="center">¿Preparado para jugar?</p>
      <button type="button" class="button btn btn-secondary btn-lg  comfortaa">Play</button>
    </div>
  </div>
  </body>
</html>