<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script type="text/javascript" data-turbolinks-eval=false>
    console.log("I'm only run once on the initial page load");
  </script>
  <title>ArmaTuCotejo</title>
  </head>
  <body>
    <!-- base barra principal -->
    <%=render partial: 'partials/navbar'%>
    <%=render partial: 'partials/armatucotejo'%>
     <%= yield %>
  </body>
</html>
