<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="ajustes.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="animate.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Comfortaa|Sanchez" rel="stylesheet">
	<title>ArmaTuCotejo</title>
</head>

<nav class="navbar  navbar-dark navbar-expand-sm fixed-top backnav">

  <a class="navbar-brand comfortaa colora" href="index.html">ArmaTuCotejo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link m-der medio" href="index.html">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link m-der medio" href="plantas.html">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link m-der medio" href="contacto.html">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link m-der medio disabled" href="Moños">Moños</a>
      </li>
    </ul>
  </div>

</nav>
	
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Arma Tu Cotejo</h1>
    <p class="lead">¿Preparado para jugar?</p>
  </div>
</div>

<div class="card col-mid-3" style="width: 18rem; margin-left: 50px; margin-top: 50px">
  <img class="card-img-top" src="" alt="Redpoison">
  <div class="card-body">
    <h5 class="card-title">MicroFutbol</h5>
    <p class="card-text">Prueba a crear...</p>
    <a href="#" class="btn btn-primary">ArmaTuCotejo</a>
  </div>
</div>
</body>

</html>
