body{
	font-family: 'Roboto', serif;
	background-color: #D9EBFF;
	margin-top: 100px;
}
img{
	max-width: 100%;
}
html{
margin: 0;
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}
.activo{
	color: #FFFFFF;
}
.colora{
	color: #FFA100;
}
.backnav{
	background-color: #002040;
}
.float{
	float: none;
}
.quitar-espacio{
	margin-top: 100px;
}
.lobster{
	font-family: 'Lobster', cursive;

}
.comfortaa{
	font-family: 'Comfortaa', cursive;
}
.grande{
	font-size: 3em;
}
.medio{
	font-size: 1.2em;
}
.m-der{
	margin-right: 1em;
}

.delay {
  -animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}
.button{
  margin:auto;
  display:block;
}
